body {
  @apply text-black bg-fixed font-light;
}

::selection {
  @apply bg-primary text-white;
}

/* Structure */
.boxed-content {
  @apply max-w-[1400px] mx-auto px-8 md:px-16;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

code{
  white-space: break-spaces;
}
