body {
  @apply text-black bg-fixed font-light;
}

::selection {
  @apply bg-primary text-white;
}

/* Structure */
.boxed-content {
  @apply max-w-[1400px] mx-auto px-8 md:px-16;
}

/* .page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
} */

code{
  white-space: break-spaces;
}

.view-image{
  view-transition-name: article-image;
  contain: layout;
}
.view-title{
  view-transition-name: article-title;
  contain: layout;
}

html{
  --swiper-pagination-color: #7B0323;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: auto;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-pagination-bullet-border-radius: 4px;

  .swiper-pagination{
    position: relative;
    text-align: left;
    bottom: 0;
    padding-top: 0.5em;
  }
  .swiper-pagination-bullet{
    transition: width 0.4s ease-out, 200ms transform,
      200ms left !important;
  }
  .swiper-pagination-bullet-active{
    --swiper-pagination-bullet-width: 16px;
  }
}
